.Question {
  position: relative;
  width: 100%;
  flex: 1 0 auto;
  margin: 0 auto;
  text-align: left;
}

.Content {
  max-width: 1100px;
  border-radius: 0;
  border: 0 0 0 1px;
  padding: 24px;
  margin: 0;
  box-sizing: border-box;
}

.questionHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  h1 {
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 25px;
    font-weight: normal;
    color: hsl(210, 8%, 25%);
    line-height: 1.35;
    margin: 0 0 15px;
  }
}

.postInfo {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 8px;
  margin-bottom: 16px;

  border-color: hsl(210, 8%, 90%);
  border-bottom-style: solid;
  border-bottom-width: 1px;

  font-size: 13px;

  li {
    white-space: nowrap;
    margin-bottom: 8px;
    margin-right: 16px;
  }

  span {
    color: hsl(210, 8%, 45%);
    margin-right: 5px;
  }
}

.main {
  // 사이드바 있는 경우 width
  // width: calc(100% - 10px);
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

.Answers {
  .answerBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    h2 {
      font-weight: 400;
    }

    .filterList {
      display: flex;
      align-items: center;
      list-style-type: none;
      justify-content: flex-end;

      .filterItem {
        border: solid 1px #9fa6ad;
        color: #6a737c;
        font-size: 12px;
        border-right-style: none;
        padding: 10px;

        &.selected {
          background: #f3f3f3;
          &:hover {
            background: #f3f3f3;
          }
        }

        &:hover {
          background: #e9e9e9;
        }
        &:first-child {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        &:last-child {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          border-right-style: solid;
        }
      }
    }
  }
}

.writeAnswer {
  margin-left: 12px;
  margin-bottom: 25px;

  h2 {
    font-weight: 400;
  }
}
