.myInfo {
  display: flex;
  align-items: center;
  height: 144px;

  .profileImg {
    margin-right: 16px;
  }

  .infoDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .userName {
      font-size: 34px;
    }
    .dayInfos {
      display: flex;
      font-size: 13px;
      color: #6a737c;
      li {
        margin: 4px;
      }
    }
  }
}
