.item {
  border: 1px solid hsl(210deg 8% 90%);
  border-bottom: none;
  padding: 4px;
  img {
    margin: 0 4px;
  }
  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid hsl(210deg 8% 90%);
  }
}
