.commentContent {
  display: flex;
  width: 100%;
  font-size: 13px;
  line-height: 1.4;

  border-color: hsl(210, 8%, 95%);
  border-bottom-style: solid;
  border-bottom-width: 1px;

  span {
    margin-right: 10px;
    margin: 10px;
    color: hsl(210, 8%, 55%);
  }

  p {
    word-wrap: break-word;
    margin: 10px;
    flex-wrap: wrap;
  }
}
