.Tag {
  height: fit-content;
  background-color: rgb(225, 236, 244);
  color: #39739d;
  margin: 2px;
  border-radius: 3px;
  padding: 0.4em 0.5em;
  white-space: nowrap;
  text-align: center;
  font-size: 12px;
}