.labelInput {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  &:first-child {
    margin-top: 0;
  }
}

.inputTitle {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.loginInput {
  width: 100%;
  padding: 0.6em 0.7em;
  font-size: 13px;
  border: 1px solid hsl(210deg 8% 75%);
  height: 35px;
  margin-top: 5px;
  border-radius: 3px;
  &.passwordInput {
    font-family: arial, serif;
  }
}
