.questions {
  display: flex;
  flex-direction: column;
  box-sizing: initial;
  * {
    box-sizing: initial;
  }

  .header {
    margin: 20px;
  }
  .topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1 {
      font-weight: normal;
      margin: 0;
    }

    // .askQuestionButton {
    //   display: block;
    //   color: white;
    //   background-color: rgb(10, 149, 255);
    //   box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);
    //   font-size: 13px;
    //   padding: 10px;
    //   border-radius: 3px;
    //   line-height: 1.15;
    // }

    button {
      padding: 0;
    }
  }

  .secondBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .total {
      font-size: 17px;
    }
    .filterList {
      display: flex;
      list-style-type: none;
      justify-content: flex-end;
      .filterItem {
        border: solid 1px #9fa6ad;
        color: #6a737c;
        font-size: 12px;
        border-right-style: none;
        padding: 10px;

        &.selected {
          background: #f3f3f3;
          &:hover {
            background: #f3f3f3;
          }
        }
        &:hover {
          background: #e9e9e9;
        }
        &:first-child {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        &:last-child {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          border-right-style: solid;
        }
      }
    }
  }

  .questionList {
    border-top: solid 1px rgb(214, 217, 220);
  }
}
