.myPageProfileDetail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;

  .detailBox {
    display: flex;
    flex-direction: column;
    .title {
      font-size: 21px;
    }
    .detailInfo {
      height: fit-content;
      margin-top: 8px;
      &.empty {
        border-radius: 5px;
        background-color: hsl(180, 5%, 96%);
        border: 1px solid hsl(210deg 8% 90%);
        height: 80px;
        font-size: 12px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
