.myPageProfileDetail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;

  .detailBox {
    display: flex;
    flex-direction: column;
    .title {
      font-size: 21px;
    }
    .detailInfo {
      height: 100px;
      margin-top: 8px;
      border-radius: 5px;
      background-color: hsl(180, 5%, 96%);
      border: 1px solid hsl(210deg 8% 90%);
      font-size: 12px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .goEdit {
        color: #385499;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
