.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "BMHANNA_11yrs";
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.appContent {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex: 1;
}
.appPageViewer {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "BMHANNA_11yrs";
  src: url("./fonts/BMHANNA_11yrs_ttf.ttf");
}
