.blueButton {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 40px;
  background-color: hsl(206deg 100% 52%);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 40%);

  color: white;
  text-align: center;
  padding: 0 10px;

  cursor: pointer;

  &:hover {
    background-color: hsl(209, 100%, 37.5%);
  }
}
