.Settings {
  display: flex;

  .loadingOn {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    font-size: 27px;
    font-weight: normal;
  }
  h3 {
    font-size: 21px;
    font-weight: normal;
  }
  label {
    font-size: 15px;
    font-weight: bold;
  }

  .addImageContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(159, 166, 173, 0.55);
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profileImgContainer {
    position: relative;
    width: fit-content;
    .changePicture {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgb(82, 89, 96);
      border-radius: 0 0 3px 3px;
      width: 100%;
      margin: 0;
      color: white;
      padding: 8px 0;
    }
  }
  input {
    max-width: 390px;
    display: block;
  }
  .box {
    padding: 24px;
    border-radius: 5px;
    border: 1px solid #e3e6e8;
    margin-bottom: 48px;
  }
  .profileImgContainer,
  input {
    margin-bottom: 15px;
  }
  section {
    width: 100%;
  }
}

.buttons {
  margin-top: 30px;

  .cancel {
    display: inline-block;
    position: relative;
    padding: 0.8em;
    margin-left: 8px;
    height: 40px;
    color: hsl(206deg 100% 52%);
    border-radius: 3px;
    outline: none;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.15384615;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: hsl(206, 100%, 97%);
    }
  }
}
